@import 'config';

body{
    background-color: $body-bg-color;
}

h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form{
    margin: 20px;
    background-color: $form-bg-color;
    fieldset, div{
    padding: 20px;
    }
}

a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    padding: 20px;
}

a:hover{
    cursor: pointer;
}

.todo{
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: $todo-bg-color;
    border: 1px solid rgb(0, 0, 0);
}

.todo:hover{
    background-color: lightgreen;
    cursor: pointer;
}

.todoDetails{
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-color: $todo-details-bg-color;
}

#btnAdd{
    margin: 25px;
    padding: 10px;
    width: 10%;
}

.checked{
    text-decoration: line-through;
    opacity: .5;
}
  
.btn{
    width: 2em;
    height: 2em;
    display: inline;
    background: $btn-bg-color;
    outline: none;
    border: none;
    border-radius: 50%;
    float: right;
}

.btnDone{
    background: $btn-done-bg-color;
    color: white;
  }