$font-family-1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-family-2: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family-3: Arial, Helvetica, sans-serif;
$nav-links-color: rgb(68,98,117);
$nav-links-hover-color: rgb(175,188,196);
$btn-background-color:  rgb(76,103, 218);
$destination-links-color: rgb(30, 49, 53);