@import 'config';
@import 'images';

/* header styling  */

header{
    text-align: center;
    font-family: $font-family-1;
    img{
        @include image-dimensions(30px, 100px);
        float: left;
        padding: 0;
    }
}

header{
    position: sticky;
    top: 25px;
    a{
        padding: 20px;
        color: $nav-links-color;
    }
}
.main-nav{
    position: fixed;
    overflow: hidden;
    width: 99%;
    top: 0;
    background-color: white;
    z-index: 1;
}

.main-nav a{
    float: left;
    font-size: 16px;
}

a:link{ 
    text-decoration: none; 
}

a:hover{
    color: $nav-links-hover-color;
}

figure{
    z-index: -1;
}

.homepage{
    z-index: 0;
}







