// css variables for background colors
$color_1: rgba(255, 255, 255, 0.842);
$color_2: rgba(255, 255, 255, 0.742);
$background-color_1: rgb(0, 0, 0);

$color_3: rgba(255, 255, 255, 0.81);
$color_4: rgba(255, 255, 255, 0.798);
$color_5: white;
$background-color_2: transparent;

$color_6: rgb(0, 0, 0);
