@import 'config';

// transaction styles
.layout {
  margin: 0 100px;
}
.header {
  background-image: linear-gradient(rgb(70, 43, 242), rgb(116, 23, 192));
  padding: 20px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.logo {
  font-size: 30px;
  color: $color_1;
  margin: 0 !important;
  cursor: pointer;
}
.username {
  font-size: 18px;
  color: $color_2;
}
.content {
  height: 85vh;
  box-shadow: 0 0 2px rgb(48, 43, 43);
  margin-top: 20px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 15px;
  overflow-y: scroll;
  background-image: linear-gradient(rgb(255, 222, 184), rgb(205, 186, 253));
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ant-spin-dot-item {
  background-color: $background-color_1 !important;
}
@media screen and (max-width: 700px) {
  .layout {
    margin: 0 15px;
  }
}
